<!DOCTYPE html>
<html lang=“ja”>
 <head>
  <title>CSK TOP</title>
 </head>
<body>
	<div class="back_img">
	
		<input type="text" value="フォーカスすると黄色になって、外すと元に戻ります">


	</div>



<!-- test -->
<section>
  <article>
    <div class="blue"></div>
    <div class="green"></div>
  </article>
  <footer>
    <span>Made with</span> <a href="http://anime-js.com">anime.js</a>
  </footer>
  <a class="logo" href="http://anime-js.com"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1137/anime-logo.png"></img></a>
</section>






</body>
</html>








